/* Opening opacity effect followed by zoom and darken */
@keyframes fadeInZoomAndFade {
  0% {
    opacity: 0; /* Starting fully transparent */
    transform: scale(1.5); /* No zoom initially */
  }
  30% {
    opacity: .4; /* Fade in to full visibility */
    transform: scale(1.2); /* Still no zoom */
  }
  50% {
    opacity: .8; /* Fade in to full visibility */
    transform: scale(1); /* Still no zoom */
  }
  100% {
    transform: scale(1.2); /* Final zoom */
    opacity: 0; /* Darken further */
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: fadeInZoomAndFade 30s ease-in-out infinite; /* 15 seconds duration, looping */
  background-attachment: scroll;
}

.logo {
    width: 120px;  /* Adjust size as necessary */
    margin-bottom: 2rem;
  }

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);;
}

.clock_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clock_content h1{
    color: var(--white-color);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.clock_content h3 {
    color: var(--primary-color);
    font-weight: 300;
    margin-bottom: 1rem;
    padding:0 5px;
}


.flip-clock {
    --fcc-flip-duration: 0.5s; /* transition duration when flip card */
    --fcc-spacing: 4px; /* space between unit times and separators */
    --fcc-digit-block-width: 30px; /* width of digit card */
    --fcc-digit-block-height: 50px; /* height of digit card, highly recommend in even number */
    --fcc-digit-block-radius: 20px; /* border radius of digit card */
    --fcc-digit-block-spacing: 4px; /* space between blocks in each unit of time */
    --fcc-digit-font-size: 25px; /* font size of digit */
    --fcc-digit-color: white; /* color of digit */
    --fcc-label-font-size: 10px; /* font size of label */
    --fcc-label-color: #ffffff; /* color of label */
    --fcc-background: #1A3928; /* background of digit card */
    --fcc-divider-color: white; /* color of divider */
    --fcc-divider-height: 1px; /* height of divider */
    --fcc-separator-size: 4px; /* size of colon */
    --fcc-separator-color: #D98D30; /* color of colon */
  }


  .button{
    margin-top: 2rem;
    width: 140px;
    height: 45px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: var(--white-color);
    border:none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-7px);
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  }



/* Modal overlay (background) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal content box */
.modal-content {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Modal title */
.modal-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

/* Input field */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 14px;
}

/* Error message */
.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 15px;
}

/* Success message */
.success-message {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

/* Modal subscribe button */
.modal-subscribe-button {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.modal-subscribe-button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: translateY(-7px);
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
}

.close-button {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.close-button:hover {
  text-decoration: underline;
}

  
  @media (min-width: 800px) {
    .logo {
        width: 200px;  /* Adjust size as necessary */
        margin-bottom: 3rem;
    }

    .clock_content h1{
        font-size: 2rem;
    }
    .clock_content h3{
        margin-bottom: 3rem;
    }

    .button{
        margin-top: 5rem;
        width: 210px;
        height: 65px;
        font-size: 1.5rem;
    }

    .flip-clock{
      --fcc-spacing: 10px;
      --fcc-digit-block-spacing: 10px; 
      --fcc-label-font-size: 20px;
      --fcc-separator-size: 6px;
        --fcc-digit-block-width: 80px;
        --fcc-digit-block-height: 140px;
        --fcc-digit-font-size: 60px;
        --fcc-label-font-size: 20px; 

    }
  }

